body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin: 2em;
}

h1 {
  font: 150% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
h2 {
  font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
h1, h2 {
  margin: 0.5em 0 0.5em 0;
}
p {
  margin: 0.5em 0;
}
