body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  margin: 2em;
}

h1 {
  font: 160% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
h2 {
  font: 140% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
h3 {
  font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
h1, h2, h3 {
  margin: 1em 0 0.5em 0;
}
p {
  margin: 0.5em 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 1em;
}

dl {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 5px;
  width: 250px;
}

dt {
  font-weight: bold;
  margin-top: 0.5em;
}

